*.obj
*.sbr
*.pdb
*.idb
*.bsc
*.dsp
*.dsw
*.ncb
*.suo
*.tlog
*.log
*.user
*.vcproj
*.vsidx
*.lib
*.user
x64
.vs
*.recipe
InoforLibs/.vs/InoforLibs/v17/Solution.VC.db
InoforLibs/Backup/InoforLibs.sln
InoforLibs/UpgradeLog.htm
InoforLibs/.vs/InoforLibs/v17/DocumentLayout.json
InoforLibs/UpgradeLog*
Browse.*
